{% extends "base.html.twig" %}

{% block title %}Gestionnaire de note{% endblock %}

{% block body %}

    <h1>Gestionnaire de note</h1>

    <form action="" method="POST">
        <textarea name="note" id="note" cols="80" rows="25" placeholder="Écrivez votre note ici"></textarea>
    </form>

{% endblock %}

{% block js %}<script src="./assets/js/app.js"></script>{% endblock %}